h1 {
  color: pink;
  background: blue;
  text-align: center;
  margin: 0;
}

.box {
  height: 250px;
   background: red;
  border: 1px solid black;
}

.left {
  float: left;
   width: 25%;
   background: pink;

}

.right {
  float: right;
   width: 25%;
   background: blue;

}

.middle {
   background-color: purple;

}

.box-wrapper {
}

.clearfix:after {
   content: ".";
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}