text{
    color: #444444;
    font: Lato;
    line-height: 1.5; 
}

    img{
	display: block;
}

h2{
	color: black;
	font: Lato;
}

#navbar
	color: #dddddd;
}

p{
    padding: 54px;
}

link{
	color: #dddddd;
}