style.css

body{
	background color: #c8deec;	
	padding: 180px;
	border: 5px solid red;
	margin: 20px;
	color: #887
}

h1{
	Font-family: courier new;
}

h2{
	Font-family: century gothic;
}

h3{
	color: 	#887;
	Font-family: courier new;
}

h4{
	Font-family: courier new;
}


