.wrapper {
	text-align: center;
	margin-top: 75px;
}

header {
	background: SeaGreen;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 75px;
	color: white;
	transition: all .2s ease-in;
}

header.small-header {
	height: 25px;
	background: lightgreen;
 }

header h1{
	font-size: 40px;
	line-height: 75px;
	transition: all .2s ease-in;
}

 header.small-header h1{
	font-size: 15px;
	line-height: 25px;
 }

img {
	width: 70%;
	display: block;
	margin: 30px auto 0;
}
