.container {
	width: 960px;
	width: 80%;
	margin: 0 auto;
}

header {
	background-color: yellow;
	padding: 10px 25px;
}

header h1 {
	float: left;
	font-size: 30px;
}

header nav {
	margin-top: 6px;
	float: right;
}

header nav a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin-left: 20px;
}

section {
	background-color: black;
	padding: 1%;
}

article {
	background-color: white;
	width: 50%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}

/* targets the 1st article; nth-child(2) would target the 2nd article*/
article:nth-child(1) {
	margin-right: 1%;
}

article h1 {
	font-size: 20px;
	text-align: center;
	padding: 5px 0;
	box-sizing: border-box;
}

.clearfix:after {
   content: ".";
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/*Media Queries

for samll screens only*/

@media (max-width: 768px) {
	article{
		width: 100%;
		float: none; 
	}

article:nth-child(1) {
	margin-bottom: 1%;
	margin-bottom: 0%;
}

header h1, header nav{
	float: none;
	text-align: center;
}


<meta name="viewport" content="initial-scale=1">
Add Comment






}
